@import "../../node_modules/compass-mixins/lib/compass";
@import "settings";

* {
  @include box-sizing(border-box);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url('../images/stardust.png');
  height: 100%;
  width: 100%;
}

h1, h2 ,h3 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 60px;
}

a {
  color: $gray;
}
